---

---
<main class="bg-background text-foreground-tokyo">
  <section class="h-96">
    <div class="flex flex-col">
      <span>Hi, I'm</span>
      <div class="flex flex-col">
        <h1 class="text-5xl">Alejandro Camacho</h1>
        <h2 class="text-3xl">Full-stack Developer</h2>
      </div>
      <p>Full-stack developer building modern, scalable applications with exceptional user experiences.</p>
    </div>
  </section>
</main>
