@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-dark: #1f1f1f;
  --color-white: #f2f0e3;
  --animate-appear: appear 500ms ease-in-out;

  @keyframes appear {
    0% {
      opacity: 0;
      margin-top: 50px;
    } 100% {
      opacity: 100%;
      margin-top: 0px;
    }
  }
}

.scrolled {
    background: rgba(31, 31, 31, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(242, 240, 227, 0.1);
  }

