---
import Layout from '../layouts/Layout.astro';
import CardTerminal from "../components/index/cardTerminal.astro"
import TerminalContinue from "../components/index/terminalContinue.astro"
---

<Layout>
  <main class="bg-background grid place-items-center text-foreground-tokyo w-full h-dvh font-hack">
    <section class="flex flex-col gap-10 w-full max-w-4xl">
      <CardTerminal/>
      <TerminalContinue/>
    </section>
  </main>
</Layout>
