---
import Home from "./sections/home.astro"
import Projects from "./sections/projects.astro"
import Experience from "./sections/experience.astro"
import Tools from "./sections/tools.astro"
---
<main class="flex flex-col gap-20">
  <Home/>
  <Projects/>
  <Experience/>
  <Tools/>
</main>
