<div>
  <p class="w-full text-green-tokyo">alex<span class="text-foreground-tokyo">@</span>portfolio <span class="text-foreground-tokyo/60">~ $</span> <span class="text-foreground-tokyo">Press enter to continue...</span> <span class="cursor"></span></p>
</div>

<script>
document.addEventListener("keydown", ({key})=> {
  if(key === "Enter") {
    window.location.href = "/profile"
  }
})
</script>
